/*file responsible for css on main webpage + default css like navbar
coders responsible for file :  Stanislaw Kawulok*/
/*css do index.html*/
*{
    padding:0;
    margin:0;
    --primary-color:#15FF73;
    --secondary-color:#10BF56;
    font-family: 'Roboto', sans-serif;


}

.menu-button{
    display:none;
}

.nav-wrap{
    padding-top:1rem;
    padding-bottom:1rem;
    display: flex;
    justify-content: right;
    position: fixed;
    z-index:6;

}

@media (min-width:1300px){
    .additional-actions{
        position: fixed;
        z-index: 9;
        display: block;
        right:1rem;
        top:6rem;
        background-color: white;
        border-radius: 30px;
        border: 2px black solid;
        padding:1rem;
    
    }
    .hidden{
        display: none;
    }
    .additional-actions button{
        background-color: white;
        color:black;
        padding:.5rem;
        margin-top:.5rem;
        width:100%;
        border-radius:30px;
        border:1px solid black;
        
    }
    nav{
        position: fixed;
        z-index:6;
        right:0;
        top:1rem;
        width:calc(50vw - 3rem);
        padding:1rem;
        padding-left:2rem;
        display: inline-flex;
        justify-content: space-between;
        border:0px solid;
        border-radius:30px 0px 0px 30px;
        background-color:var(--primary-color)
        
    }

    .redirects{
        display:flex;
        gap:30px;
        width: min-content;
        text-align: center;
    }

    .redirects a{
        text-decoration: none;
        font-weight: bold;
        color:white;
        white-space: nowrap; 
        text-align: center;

    }

    .user-actions{
        display: flex;
        justify-content: right;
        gap:30px;
        width: min-content !important;

    }


}

.user-actions button{
    background-color: white;
    color:black;
    padding:.5rem;
    border-radius:30px;
    border:1px solid black;
    white-space: nowrap; 

    


}
.hidden-menu{
    display: none;
}

@media(max-width:1300px){
    /*dodac css dla mneijszych rezoluzji*/

    .additional-actions{
        display: none;
    }
    .nav-wrap{
        display:none;
    
    }

    .menu-button{
        display:inline;
        color:white;
        background-color: var(--primary-color);
        z-index:9;
        position: fixed;
        top:1rem;
        padding:2rem;
        
        right:0;
        border:0px solid;
        border-radius: 30px 0 0px 30px;
    }


    .hidden-menu{
        width:0;
        height:0;
        transition    : height 2s; 
        position: fixed;
        background-color: var(--primary-color);
        top:7rem;
    }

    .visible-menu{
        display: block;
        position: fixed;
        background-color: var(--primary-color);
        top:0rem;
        padding-top:1rem;
        z-index:8;
        width:100vw;
        height:fit-content;
        

    }
    nav{
        display: block;
    }

    .redirects{
        display:block;
        padding-top:1rem;
        width: 100%;
        text-align: center;
    }

    .redirects a{
        text-decoration: none;
        font-weight: bold;
        color:white;
        white-space: nowrap; 
        text-align: center;

    }

    .user-actions{
        padding:1rem;
        display: flex;
        gap:30px;
        justify-content: center;
        width: 100% ;

    }



}

.circle{

    width:40vh;
    height:40vh;
    background-color: var(--primary-color);
    border-radius: 100%;
}

.main-decor:before{
    content:'';
    top: 30vh;
    left:3rem;
    position: fixed;
    width:40vh;
    height:40vh;
    z-index:5;
    background-color: var(--primary-color);
    border-radius: 100%;
}

.main-decor{

    top: 30vh;
    left:5rem;
    position: fixed;
    width:40vh;
    height:40vh;
    z-index:6;
    text-align: center;
    border-radius: 100%;
    background-color:var(--secondary-color) ;
}

.main-decor h1{
    position: relative;
    z-index:7;
    margin-top:10vh;
    text-align: left;
    
}

.main-image{
    width:100vw;
    height:100vh;
    right:0;
    position: fixed;
    top:0;
    object-fit: cover;
    z-index:1;
}

.cut-main-image{
    content:0;
    z-index:3;
    top:0;
    transform: skew(-20deg);
    height:100vh;
    width:100vw;
    right:45vw;
    position: fixed;
    background-color: white;
}

.bottom-decor{
    position: fixed;
    left:40vw;
    z-index:2;
    bottom:-20vh;
}

