<!--PABLO, to smieszne co ci pisalem w index.html wchodzi-->
{%extends "index.html"%}

{%block imports%}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
{%endblock%}

{%block content%}
<div class="about-wrap">
    <div class="about-us">
        <h1>Kim Jesteśmy?</h1>
        <p>
            tu będzie opis.
        </p>
    </div>
</div>
<div class="cut-main-image"></div>
<img src="https://visitwroclaw.eu/en/themes/video/promo-wroc.jpg" class="main-image"></a>
<div class="circle bottom-decor"></div>
{%endblock%}