{%extends "index.html"%}

{%block imports %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/event.css') }}">
{%endblock%}


{%block content%}
<div class="page">
    {%if event == "None" %}
        <div class="circle main-decor">
            <h1>this is event you're looking for</h1>
        </div>
    {%else%}
        <div class="event">
            <h1>{{event.title}}</h1>
            <div class="event-detail">
                <div class="data">
                    <p>kiedy?&nbsp;  {{event.date}}</p>
                    <p>gdzie?&nbsp; {{event.location}}</p>
                </div>
                <div class="data">
                    <p>kto?&nbsp;  {{GetUserById(event.creator).name}}</p>
                    <p>ile osób?&nbsp; {{event.like_count}}</p>
                </div>
                <div class="description">
                    <p>{{event.description}}</p>
                </div>

                {%if like and loged%}
                    <a href='{{"/like/" + event.title}}'>

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                          </svg> Lubię To!
                    </a>

                {%elif loged%}
                    <a href='{{"/unlike/" + event.title}}'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                          </svg> Lubię To!
                    </a>
                {%else%}

                {%endif%}

            </div>
        </div>
    {%endif%}

    <div class="cut-main-image">

    </div>
    <img src="{{url_for('static', filename='images/' + event.image)}}" class="main-image"></a>
</div>
{%endblock%}