{%extends "index.html"%}

{%block imports%}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/events.css') }}">
{%endblock%}

{%block content%}
<div class="events-title">
    <h1>
        Eventy
    </h1>
</div>
<div class="events-wrap">
{%for event in events%}
<a class="event-card" style="text-decoration: none; color:black" href="{{'/event/' + event.title}}">
    <div class="event-card">
        <img src="{{url_for('static', filename='images/' + event.image)}}">
        <div class="event-info">
            <h1>{{event.title}}</h1>
            <p>data {{event.date}}</p>
            <p>miejce {{event.location}}</p>
            <p>tworca {{GetUserById(event.creator).name}}</p>
            <p>lubi to {{event.like_count}} osób</p>
        </div>
    </div>
</a>
{%endfor%}

</div>
<div class="cut-main-image">

</div>
<img src="{{ url_for('static', filename='images/background.jpg') }}" class="main-image"></a>
{%endblock%}