{%extends "index.html"%}

{%block imports%}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/events.css') }}">
{%endblock%}

{%block content%}
<div class="events-title">
    <h1>
        Eventy
    </h1>
</div>
<div class="events-wrap">
{%for event in events%}
<div class="event-card">
    <img src="{{event.image}}">
    <div class="event-info">
        <h1>{{event.title}}</h1>
        <p>data {{event.date}}</p>
        <p>miejce {{event.location}}</p>
        <p>tworca {{event.creator}}</p>
    </div>
</div>
{%endfor%}

</div>
<div class="cut-main-image">

</div>
<img src="https://visitwroclaw.eu/en/themes/video/promo-wroc.jpg" class="main-image"></a>
{%endblock%}